<nav class="navbar navbar-expand-lg navbar-dark bg-success" id = "generalNav">
    <a class="navbar-brand" href="#">
      <i class="fas fa-baseball-ball" aria-hidden="true" style="color:yellow"></i>
      <span class="text-light"> Tennis predictions</span>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href = "/agents/types">Agent Types</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "/performatives/list">Perforamtives</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/messages">Messages</a>
      </li>
    </ul>
  </div>
  </nav>
