<div class="container">

    <table class="table table-striped table-responsive-md btn-table" border="1" >
      <thead>
      <title>Agents</title>
      <tr>
        <th scope="col">Host</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Stop agent</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agent of agents">
        <td>{{agent.host.alias}} ({{agent.host.address}})</td>
        <td>{{agent.type.name}}</td>
        <td>{{agent.name}}</td>
        <td><a class="button" (click)="stopAgent(agent)">Stop</a></td>
      </tr>
      </tbody>
    </table>
    <form>
      <div class="form-group col-md-8">
        <select class="form-control" #agentType>
          <option>Master</option>
          <option>Collector</option>
          <option>Predictor</option>
          <option>Ping</option>
          <option>Pong</option>
        </select>
      </div>
      <div class="form-group col-md-8">
        <label for="agentName">Agent name:</label>
        <input #agentName type="text" class="form-control" placeholder=''/>
      </div>
      <div class="form-group col-md-8">
        <button class="btn-primary" (click)="runAgent()">Run agent</button>
      </div>
    </form>

</div>
